* {
margin:0;
padding:0 ;
}

.img-theLoveStoryOfAnnaK
{
 margin-left: 30px;
 margin-right: 30px;
}

.img-speak {
    margin-left: 38px;   /* Horizontal Space */
    margin-right: 30px;  /* Vertical Space */
   
}

.img-theCruelPrince {
 margin-right: 30px;
 margin-left: 30px;
}

.img-theyBothDieAtTheEnd {
    margin-right: 115px;
    margin-left: 30px;
    /*margin-top: 20px;*/
}

.img-theFaultInOurStars{
    margin-top: 70px;
}
