* {
  margin: 0;
  padding: 0;
}

.img-theLoveStoryOfAnnaK {
  border-style: groove;
  border-color: rgb(164, 125, 104);
}

.img-speak {
  border-style: groove;
  border-color: rgb(164, 125, 104);
}

.img-theCruelPrince {
  border-style: groove;
  border-color: rgb(164, 125, 104);
}

.img-theyBothDieAtTheEnd {
  margin-top: 40px;
  margin-right: 100px;
  border-style: groove;
  border-color: rgb(164, 125, 104);
}

.img-theFaultInOurStars {
  margin-right: 100px;
  margin-top: 95px;
  border-style: groove;
  border-color: rgb(164, 125, 104);
}
.img-everyLastWord {
  border-style: groove;
  border-color: rgb(164, 125, 104);
}
.img-theOutsiders {
  border-style: groove;
  border-color: rgb(164, 125, 104);
}

.column {
  float: left;
  width: 33%;
  padding: 5px;
}
